
body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    margin-top: 90px;
    display: flex;
    padding: 20px;
    width: 100%;
    background-color: white;
    flex: 1;
    border-bottom: 1px solid #797272;
}
.help-h1 {
    align-items: center;
    justify-content: center;
}
.help-content {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    width: auto;
    padding-bottom: 60px;
    
}


.header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    /*border-bottom: 1px solid #797272;*/
    z-index: 1000;
}


.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.header-logo img {
    height: 40px;
}


.header-title{
    align-items: center;
    font-size:large;
}

.header-nav {
    display: none;
}


.header-nav .nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}


.header-nav .nav-list li {
    margin-left: 20px;
}

.header-nav .nav-list li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}



.header-actions {
    display: flex;
    align-items: center;
}


.header-actions .search-button,
.header-actions .menu-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    margin-left: 20px;
    color: #333;
}



.drawer {
    display: none;
    flex-direction: column;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1001;
    padding-top: 60px;
    border-right: 1px solid #ddd;
}

.drawer .drawer-nav .drawer-list {
    list-style: none;
    padding: 0;
    margin: 0;
}


.drawer .drawer-nav .drawer-list li {
    padding: 15px 20px;
}

.drawer .drawer-nav .drawer-list li a {
    text-decoration: none;
    color: #333;
    display: block;
}


body.drawer-open .drawer {
    display: flex;
}



.podcast-search {
    display: flex;
    display: none;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;


}

.podcast-search input[type="text"] {
    height: 20px;
    border: 2px solid grey;
    padding: 0 10px;
    outline: none;

}
.podcast-search input[type="text"]:focus {
    border: 2px solid black;

}

.search-bar {
    border-radius: 4px;
    font-size: 14px;
    

}
.close-button {
    display: block;
    margin: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    margin-top: -45px;
    margin-right: -160px;
}
.podcast-search button {
    padding: 0 10px;
    font-size: 14px;
    height: 24px;
    border-radius: 4px;
    background-color: white;
    color: black;
    margin-left: 5px;
    cursor: pointer;
    border: 2px solid grey;

}
.podcast-search button:focus {
    border: 2px solid black;
    
}

.loading-message {
    margin-top: 0px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.suche {
    padding-left:100px;
}

.unterüberschrift {
    width: 100%;
    padding-left: 20px;
    padding-bottom: 10px;
    font-weight: bold;
}

.grid {
    display: grid;
   /* grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    ;*/
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    width: 100%;
    grid-auto-flow: column;   /* Elemente in einer Spalte anordnen */
    grid-auto-columns: minmax(200px, 1fr); /* Größe der Grid-Items */
    overflow-x: auto;   
    overflow-y: hidden;
    justify-items: start; /* Elemente im Grid linksbündig ausrichten */
    grid-auto-flow: column;
    max-width: fit-content;
    
    
}


.grid div {
    /*padding: 0px;*/
    text-align: center;
    border-radius: 5px;
    height: 100%;
    /*Üdisplay: flex;*/
    transition: transform 0.3s ease;

}

.grid img {
    border-radius: 1rem;
    aspect-ratio: 1 / 1;
    display: block;
    object-fit: cover;
    transition: transform 0.3s ease; /* Sanfte Übergänge bei Hover */
    cursor: pointer; /* Zeiger-Cursor bei Hover */
    overflow: hidden; /* Verhindert, dass das Bild außerhalb des Containers sichtbar ist */
    display: inline-block;
    

}

.grid h4 {
    transition: transform 0.3s ease; /* Sanfter Übergang */
}


.grid div:hover img,
.grid div:hover h4 {
    transform: scale(1.1);
}


.fav-div img {
    height: 200px; 
    object-fit: cover; 
    border-radius: 1rem;
}

.fav-div{
    
    display: grid;
   /* grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    ;*/
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    width: 100%;
    grid-auto-flow: column;   /* Elemente in einer Spalte anordnen */
    grid-auto-columns: minmax(200px,200px); /* Größe der Grid-Items */
    overflow-x: auto;   
    overflow-y: hidden;
    justify-items: start; /* Elemente im Grid linksbündig ausrichten */
    grid-auto-flow: column;
    max-width: fit-content;
    transition: transform 0.3s ease;
}

.fav-div img{
    transition: transform 0.3s ease;
}
.fav-div h4 {
    transition: transform 0.3s ease;
}

.fav-div div:hover img,
.fav-div div:hover h4 {
    transform: scale(1.1);
}

.favorites-fav  {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    gap: 20px;
    width: 100%;
    row-gap: 40px;
    padding: 20px;

    
   
}
.favorites-fav div {
    border: 1px solid #0b0b0b;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    background-color: white;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  
}
.favorites-fav img {
    border-radius: 1rem;
    aspect-ratio: 1 / 1;
    object-fit: cover;


    width: 100%; /* Image takes full width of its container */
    max-width: 200px; /* Limits the maximum width of the image */
    height: auto; /* Keeps image proportions */
    

}
.button-remove {
     padding: 10px 20px; /* Innenabstand für größere Klickfläche */
    border: 1px solid rgb(226, 222, 222); /* Blaue Randfarbe */
    background-color: rgb(226, 222, 222);
    color: black; /* Textfarbe passend zur Randfarbe */
    border-radius: 5px; /* Abgerundete Ecken */
    cursor: pointer; /* Zeiger-Cursor bei Hover */
    margin: 4px;
}

.episode-dashboard {
    text-align: left;
    width: 100%;
    padding-bottom: 50px;


}

.dash-search-row{
    width: 100%;
}

.img {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
}



.layout-content {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    padding-bottom: 60px;
    
}

.podcasts-details-left {
    margin-left: 20px;
}

.placeholder {
    width: 15%;
}
.podcast-title-dash {
    margin-top: 0px;
    align-items: center;
    justify-content: center;
   
    
}


.play-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    font-size: 2em;
}
.episode-container {
    margin-bottom: 10px; /* Abstand zwischen den Episoden */
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: rgb(226, 222, 222);
    color: black;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
    transition: background-color 0.3s;
}

.episode-button {
    padding: 5px;
    border: none;
    background-color: rgb(226, 222, 222);
   
    cursor: pointer;
    transition: background-color 0.3s;
}

.episode-play-icon {
    margin-right: 20px;
}
.episode-title {
    flex: 1;
}
.episode-time {
    margin-left: auto; /* Schiebt die Zeit ans Ende des flex-Containers */
    font-size: 14px;
    color: grey;
}


.audio-hidden {
    display: none;
    
}
.audio-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 10px;
    box-sizing: border-box;
    color: #fff;
    text-align: center;
    z-index: 1000px;
}

audio {
    width: 100%;
    outline: none;
}



.visible {
    display: block;
}
.podcast-image-dash {
   /* width: 100%;*/
    max-width: 600px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 1rem;
}

.episode-info {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.description-dash {
    font-size: 1em;
    margin-bottom: 20px;
}

.summary-dash {
    font-size: 1em;
    line-height: 1.5;
}

.button-design {
    font-size: 15px;
    border-radius: 0.5rem;
    border-color: black;
    background-color: white;
    height: 30px;
    align-items: center;
    justify-content: center;


}



#categoryContainer {
    padding: 10px;
    gap: 20px;
   
    
}
    
.category-button {
    padding: 10px 20px; /* Innenabstand für größere Klickfläche */
    border: 1px solid black; /* Blaue Randfarbe */
    background-color: #FFF; /* Weiße Hintergrundfarbe */
    color: black; /* Textfarbe passend zur Randfarbe */
    border-radius: 5px; /* Abgerundete Ecken */
    cursor: pointer; /* Zeiger-Cursor bei Hover */
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease; /* Sanfte Übergänge bei Hover */
    margin: 4px;
    
}

.category-button:hover {
    background-color: #474846; /* Hintergrundfarbe beim Hover */
    color: #FFF; /* Textfarbe beim Hover */
    
}

.category-button:active {
    background-color: black; /* Noch dunklere Farbe beim Klicken */
    
}



a:any-link {
    color: black;
    text-decoration: none;
}


.footer-rahmen {
    background-color: white;
    padding: 20px;
    
}
.footer-logo {
    text-align: left;
}

.footer-links  {
    color: #4d3b3b;
    text-align: center;

}

@media (min-width: 990px) {
    .header-nav {
        display: block;
    }
    .header-actions .menu-button {
        display: none;
    }
    .drawer {
        display: none;
    }

    .img {
        margin-right: 20%;
    }
    .podcast-title-dash {
        margin-top: 0px;
        align-items: center;
        justify-content: center;
        width: 80%;
        margin-left: 5%;
        margin-top: 20px;
    }
    .description-dash {
        width: 80%;
        margin-left: 5%;
    }
    
    .podcastDashPage{
        margin: 0;
        padding: 0;
        gap: 0.5em;
        list-style: none;
        font: 1.2rem sans-serif;
        

        display: block;
        height: 100%;
        padding: 0.2em 0.5em;
        text-decoration: none;
        box-sizing: border-box;
        border-radius: 5px;
        
        text-align: center;
        align-content: center;
    }

    
    .podcastDashPage.flex {
        display: flex;
        flex: 1 0 1em;
    }

    .podcast-image-dash {
        margin-top: -20px;
        margin-bottom: 20px;
        margin-right: 5%;
        margin-left: 3%;
    
    }

    .episode-dashboard {
        margin-top: 3%;
    }
    
}

@media (min-width: 377px) and (max-width: 591px) {
    .favorites-fav  {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        gap: 20px;
        width: 100%;
        row-gap: 40px;
        padding: 20px;
    
        
       
    }
}
@media (min-width: 592px) and (max-width: 989px) {
    .favorites-fav  {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: auto;
        gap: 20px;
        width: 100%;
        row-gap: 40px;
        padding: 20px;
    }
}
@media (max-width: 376px) {
    .favorites-fav  {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: auto;
        gap: 20px;
        width: 100%;
        row-gap: 40px;
        padding: 20px;
    }
}